/* STYLE CSS */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

h1 {
    font-size: 200%;
}
h2 {
    font-size: 137%;
    line-height: 1.5em;
}
p {
    font-size: 1.1250em;
    line-height: 1.5em;
}

/* website frame */
/* .frame {
    border: 5px solid rgb(250, 245, 245);
    width: 75%;
    padding: 2rem;
    margin: 20px auto;
  } */

  
/* LOGO AND NAVIGATION BAR */

#logo {
    float: left;
    font-size: 200%;
    margin-left: 50px;
    letter-spacing: 3px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    height: 7vh;
}

#menu,
#logo {
    line-height: 2vh;
    text-transform: uppercase;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px
}

/* Top image and text box use the #external and .video settings */
#intro {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 20px;
    
  }

  .grid-item {
    display: flex;
   
  }
  
  /* Section styles */
  .intro-text {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    /* border: 1px solid #ccc; */
  }

/* Section container */
.container {
    width: 90%;
    margin: 0 auto;
  }
  
  /* Section styles */
  .section {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    /* border: 1px solid #ccc; */
  }
  
  #section1 {
    background-color: rgb(248, 249, 250);
  }
  
  #section2 {
    background-color: rgb(250, 245, 245);
  }
  
  #section3 {
    background-color: #ffffe6;
  }
  
  #section4 {
    background-color: #e6ffe6;
  }

#home-details div {
    color: #000;
    width: 50%;
    float: left;
    padding: 3% 0 3% 0;
    text-align: center;
    border: 1vh solid #ffffff;
    box-sizing: border-box;
    line-height: 2vh;
    flex-wrap: wrap;
}

.details-box {
    background-color: rgb(250, 245, 245);
}

.activities {
    background-color: rgb(248, 249, 250);
}

.online {
    background-color: rgb(248, 249, 250); 
}

.resources {
    background-color: rgb(250, 245, 245);
}

/* External Video Plus Text */

#external {
    display: flex;
    clear: both;
    justify-content: center;

}

.video {
    display: grid;
    padding: 2vh;
}
.video p {
    line-height: 1.5em;
}

/* Portfolio Page */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    
}

.gal-img:hover {
    -webkit-transform:scale(2.5); /* or some other value */
    transform:scale(2.5);
}

.gallery::after {
    content: "";
    width: 350px;
}

.port-title h1 {
    align-content: center;
}


/* social networks footer */

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
 
/* MEDIA QUERIES */

/* For large to medium screens sizes from 1300px wide and down */
@media screen and (max-width: 1300px) {

    #external {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }

    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* For medium screens sizes from 1700px wide and down */ 

@media screen and (max-width: 1700px) {

 #menu,
    #logo {
        line-height: 7vh;
    }

    #home-details div {
        width: 100%;
        clear: both;
        line-height: 0; 
    }

    .intro-text {
        width: 100%;
        line-height: 0; 
    }

     #external {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    } 

     .video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }

    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    } 

     #photos {
        column-count: 3;
    }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    #logo {
        font-size: 4vw;
        margin-left: 2vw;
    }

    #logo {
        font-size: 4vw;
        margin-left: 2vw;
    }

    #menu,
    #logo {
        line-height: 8vh;
        text-align: center;
        margin-bottom: 2vh;
    }

    h1,
    h2 {
        font-size: 110%;
    }

    #menu {
        font-size: 2vw;
        letter-spacing: 0.2vw;
    }


    #external {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }

    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .ceremony {
        font-size: 4vw;
    }

    #photos {
        column-count: 2;
    }

}


/* For small screens sizes from 500px wide and down */
@media screen and (max-width: 500px) {

    #logo {
        font-size: 5.7vh;
        padding: 1vw;

    }

    #menu,
    #logo {
        text-align: center;
        margin-bottom: 2vh;
    }

    #menu {
        font-size: 5vw;
        letter-spacing: 0.2vw;
    }

    .intro-text {
        display: flex;
        flex-flow: column nowrap;

    }

    #external {
        display: flex;
        flex-flow: column nowrap;

    }

    .video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }

    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #external h2 {
        margin-top: 3vh;
    }

}