.canvas {
    width: 100%;
    height: auto;
    background-color: #4d0f00;
    /* overflow: hidden; */
}

.frame {
  border: 5px solid black;
  width: 75%;
  padding: 2rem;
  margin: 20px auto;
}

.one {
  width: 91%;
  height: 30%;
  background-color: #efb762;
  margin: 20px auto;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 20px 10px;
}

.two {
  width: 91%;
  height: 30%;
  background-color: #8f0401;
  margin: 0 auto 20px;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 20px 10px;
}

.three {
  width: 91%;
  height: 28%;
  background-color: #b20403;
  margin: auto;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 20px 10px;
}